@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Get To Know Joel</h1>
<body>
    <h3>See some quick links for more info on Joel:</h3>
    <p>Quick Wits Comedy: <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></p>

    <p>Baconsale site: <a href="https://baconsale.com/" target="_blank">Baconsale</a></p>

    <img src="~/img/1.jpg" alt="Joel's Photo'"/>
</body>
