@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Application
<h1>Enter a Moive</h1>

<form method="post">
    <input type="hidden" asp-for="MovieId" />

    <label asp-for="CategoryName">Category:</label>
    <select>
        <option value="">Select a Category</option>
        @foreach (Category r in ViewBag.Categories)
        {
            <option value="@r.CategoryId">@r.CategoryName</option>
        }
    </select>
    <br />
    <label asp-for="Title">Title:</label>
    <input asp-for="Title" />
    <br />
    <label asp-for="Year">Year:</label>
    <input asp-for="Year" />
    <br />
    <label asp-for="Director">Director:</label>
    <input asp-for="Director" />
    <br />
    <label asp-for="Rating">Rating:</label>
    <input asp-for="Rating" />
    <br />
    <label asp-for="Edited">Edited:</label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo"/>
    <br />
    <label asp-for="CopiedToPlex">Copied To Plex:</label>
    <input asp-for="CopiedToPlex" />
    <br />
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" maxlength="25"/>
    <br />
    <button type="submit">Submit</button>

    <div asp-validation-summary="All"></div>

</form>